# Object files
*.o
*.ko

# Libraries
*.lib
*.a

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app

# Visual C++ related files and directories
*.apt
*.clw
*.ncb
*.opt
*.plg
*.sdf
*.suo
*.user
Debug
Release
ipch
